apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "redis.fullname" . }}-config
  labels:
    {{- include "redis.labels" . | nindent 4 }}
data:
  master.conf: |
    port 6379
    dir /data
    protected-mode no
    appendonly {{ .Values.config.appendonly }}
    maxmemory-policy {{ .Values.config.maxmemoryPolicy }}
    tcp-keepalive {{ .Values.config.tcpKeepalive }}
  replica.conf: |
    port 6379
    dir /data
    replica-read-only yes
    protected-mode no
    appendonly {{ .Values.config.appendonly }}
    maxmemory-policy {{ .Values.config.maxmemoryPolicy }}
    tcp-keepalive {{ .Values.config.tcpKeepalive }}
